body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}
header {
  position: sticky;
  top: 0px;
  background-color: black;
  display: block;
  font-family: "Avenir";
  display: block;
}

#navbar {
  display: flex;
  flex-direction: row;
  margin: 0px 1%;
  font-family: "Avenir";
}

#hulu {
  float: left;
  margin-right: -10em;
  margin-bottom: 0.5em;
}
.huluimg {
  width: 70%;

  margin-top: 0.5em;
}
#browser {
  float: left;
}

.browserimg {
  margin-top: 1em;
  float: left;
  width: 35px;
}
h3 {
  float: right;
  color: white;
  font-size: small;
  margin-top: 1.75em;
  margin-right: 2.9em;
}
.stuff {
  margin-top: 1em;
  float: left;
  width: 31px;
}
h2 {
  float: right;
  color: white;
  font-size: small;
  margin-top: 1.75em;
  margin-right: 2.4em;
}
.huloop {
  margin-top: 1.1em;
  float: left;
  width: 30px;
  margin-left: 0.5em;
}
h1 {
  float: right;
  color: white;
  font-size: small;
  margin-top: 1.75em;
  margin-right: 2.8em;
}
.search {
  margin-top: 0.75em;
  float: left;
  width: 20px;
}
.nick {
  margin-top: 0.75em;
  float: left;
  width: 22px;
  margin-right: -5em;
}
h4 {
  margin-top: 1em;
  margin-left: 2.5em;
}
.navcolor {
  color: white;
  font-weight: 800;
  font-family: "Roboto", "Source Sans Pro";
  margin-top: 7em;
}
#rightNav {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;

  color: white;
  font-family: "Roboto", "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 38%;
}
/* CONTAINER */
#containerPic {
  width: auto;
  display: flex;
  flex-direction: row;
  height: 600px;
 
}

#blackBox {

  float: right;
  margin-left: 50em;
  margin-top: 10em;
}


#center {
  position: absolute;
  color: rgb(10, 10, 10);
margin-top: 6em;
  float: left;
  margin-left: 10em;
}


.huluP{
  color: #1CE783;
 float: right;
 margin-top: 0.1em;
 margin-right: 18.5em;
  width: 50px;
  
}
#p2 {
  float: left;
  margin-left: 0.2em;

}
#h5Huloop{
  font-weight:900 ;
  margin-top: 0.75em;
 
}
p {
  font-size: large;
}
h5 {
  font-size: 60px;
  font-weight: 400px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#howtohuloop{
  float: center;
  width: 300px;
  height: 300px;

}

/* send Message
*                              
 { margin: 0;
   padding: 0; }
/* body {                         
  font-family: 'Avenir';
    background: url(images/bg.png);
   } */
/* h6                           
{ color: #fa9f00; 
  font: 30px Helvetica, Sans-Serif;
   margin: 0 0 10px 0;
   }
#page-wrap                     
 { width: 200px; 

  position: relative; 
  float: right;
  margin-left: 0.1em;
  margin-top: 10em;
  background: black; */

/* }
#message{
  color: #1CE783;
}

#chat-wrap                     
 { border: 1px solid rgb(22, 21, 21);
   margin: 0 0 15px 0;
 }
#chat-area                     
 { height: 224px; 
overflow: auto;
   border: 1px solid #666; 
   padding: 20px; 
   background: black;
   float: right;
   } */
/* #chat-area span               
  { color: rgb(32, 31, 31); 
    background: rgb(0, 0, 0);
     padding: 4px 8px;
      -moz-border-radius: 5px; 
      -webkit-border-radius: 8px; 
      margin: 0 5px 0 0; }
#chat-area p                   
 { padding: 8px 0; 
  border-bottom: 1px solid rgb(12, 11, 11); }

#name-area                     
 { position: absolute; 
  top: 12px;
   right: 0;
    color: black;
     font: bold 12px "Lucida Grande", Sans-Serif; 
     text-align: right; }   
#name-area span                
 { color: #fa9f00; } */

/* #send-message-area p         
   { float: left; 
    color: black;
     padding-top: 27px; 
     font-size: 14px; }
#sendie                        
 { border: 3px solid black; 
  width: 196px;

   font: 12px "avenir"; 
   float: right; }  */


  #huloopButton{
    float: left;
    margin-top: 11em;
  }
  #Mybutton {
    background-color: #1CE783;
    border: none;
    color: black;
    padding: 20px 33px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    float: center;
    border-radius: 5px;
    width: 300px;
    font-weight: 400;
  }
  #buttonColor{
    color: black;
    font-size: 14px;
    font-weight: 400;

  }
  #underButton{
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-left: -15.25em;
    margin-top: 2em;
  }
  #underButton2{
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-left: -24.3em;
    margin-top: 4em;
  }
  #section2{
    height: 750px;
    display: flex;
    flex-direction: row;
    margin-top: 10em;
    background-image: linear-gradient(
      to bottom,
      rgb(246, 255, 251),
      rgb(213, 255, 234)
    );
  }

  
 #picSec2{
  align-items: center;
   width: 50%;
   height: 20%;
   margin-left: 7em;
 }
 #img4watch{
   margin-left: 7em;
   margin-top: 18.5em;
   float: left;

 }
 #rowsec2{
   /* display: flex; */
   flex-direction: column;
   margin-top: 9em;
   margin-right: -17em;
   align-items: center;
   width: 20%;

 }
 #start{
   margin-left: 0.5em;
  
   font-size: 20px;
 }
 #howtohuloop2{
   margin-left: 0.5em;
  margin-top: 0.3em;
   font-size: 24px;
   font-weight: 900;

 }
 #rowbutton{
   margin-top: 16em;
   margin-right: 12em;
  display: flex;
  flex-direction: column;

 }
  .hoverButton1 {

    background-color: rgb(212, 206, 206);
    border: none;
    color: black;
    padding: 20px 20px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
    float: right;
  }
  .hoverButton2 {
    background-color: rgb(212, 206, 206);
    border: none;
    color: black;
    padding: 20px 28px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
    float: right;
  }
  .hoverButton3 {
    background-color: rgb(212, 206, 206);
    border: none;
    color: black;
    padding: 20px 28px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
    float: right;
  }
  .hoverButton4 {
    background-color: rgb(212, 206, 206);
    border: none;
    color: black;
    padding: 20px 33px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
    float: right;
  }
  .hoverButton5 {
    background-color: rgb(212, 206, 206);
    border: none;
    color: black;
    padding: 20px 33px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
    float: right;
  }
  .Button6 {
    background-color: #1CE783;
    border: none;
    color: black;
    padding: 20px 33px;
    text-align: left;
    font-size: 14px;
    margin: 4px 2px;
    float: center;
    border-radius: 5px;
    width: 300px;
    font-weight: 400;
  }
  #watchDirectly{
    width: auto;
    background-color: black;
flex-direction: row;

height: 400px;
  }
#watchOnhulu{
  width: 40%;
  margin-top: 6em;
  float: left;
  margin-left: 16em;
}
#watch{
  font-size: 40px;
  color: #1CE783;
  font-weight: 600;
}
#watch2{
  margin-top: 0.2em;
  font-size: 40px;
  color: #1CE783;
  font-weight: 600;
}
#watchDescript{
  margin-top: 3em;
  font-size: 15px;
  color: white;
}
#watchDescript2{
  margin-top: 0.5em;
  font-size: 15px;
  color: white;
}
#watchDescript3{
  margin-top: 0.5em;
  font-size: 15px;
  color: white;
}


    /*COMMENT FOR SCROLL PAGES*/
    #scrollmenu {
      width: 26%;
      background-color: black;
      overflow: auto;
      white-space: nowrap;
      float: right;
      margin-top: -14em;
      margin-right: 22em;
  }
  
  div.scrollmenu img{
      display: inline-block;
  }
 
#sec3{
background-color: black;
height: 500px;
margin-top: -0.3em;
width: auto;
}
#calendar{
  margin-top: 10em;
  float: left;
  width: 50%;
  flex-direction: row;
}
.googleCal{
  margin-left: 15em;
  width: 12%;
}
.outlookCal{
  margin-top: -1em;
  margin-left: 3em;
  width: 12%;
}
.appleCal{
  margin-left: 3em;
  width: 14%;
}
#syncCal{
  margin-top: 10em;
  float: right;
  width: 45%;
}
#syncCal1{
  color: #1CE783;
  font-size: 40px;
  font-weight: 600;
}
#syncCal2{
  color: #1CE783;
  font-size: 40px;
  font-weight: 600;

}
.syncExp{
  margin-top: 2em;
  font-size: 15px;
  color: white;
}
.syncExp2{
  margin-top: 0.5em;
  font-size: 15px;
  color: white;
}
#sec4{
  background-color: black;
height: 500px;
width: auto;
margin-top: -0.5em;
}
#flexCal{
  float: left;
width: 30%;
margin-left: 17em;
margin-top: 6em;
}
#flex1{
  color: #1CE783;
  font-size: 40px;
  font-weight: 600;

}
#flex2{
  color: #1CE783;
  font-size: 40px;
  font-weight: 600;

}
.flexExp{
  margin-top: 2em;
  font-size: 15px;
  color: white;

}
.flexExp2{
  margin-top: 0.5em;
  font-size: 15px;
  color: white;
}
#calLaptop{
  margin-right: 1.5em;
float: right;
width: 45%;
margin-top: 4.5em;
}
.calLaptopExp{
  width: 55%;
}
#buttonLaptop{
  background-color: #1CE783;
  height: 850px;
  width: auto;
  margin-top: -0.5em; 
}
#tryHuloop{
  text-align: center;

}
.tryHuloopExp{

  font-size: 40px;
  color: black;
  font-weight: 600;
}
#laptop{
text-align: center;
margin-top: 5em;
}
#laptopimg{
width: 50%;
}
#nextWatchParty{
  text-align: center;
  margin-top: 3em;
}
#nextWatch{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 33px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  float: center;
  border-radius: 5px;
  width: 320px;
  font-weight: 600; 
}
#footer{
  background-color: black;
  height: 80px;
  width: auto;
  flex-direction: row;
}
#footer1 p{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  flex-direction: row;
  font-size: 12px;

}
#footer2 p{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  flex-direction: row;
  font-size: 12px; 

}
#footerRight p{
  color: white;
  float: right;
  padding: 14px;
  flex-direction: row;
  font-size: 12px; 
  margin-top: -2em;
  margin-right: 7em;
}


/*CHAT*/

#peopleList{
  float: right;
 width: 13%;
  height: 50%;
  background-color: rgb(24, 23, 23);
  border-color: rgb(43, 44, 43);
margin-top: 10em;
  flex-direction: column;
  margin-left: 1em;
}
.nameAvatar{
  float: right;
  color: white;
  font-size: 15px;
  font-family: "Avenier";
}
.avatar1{
  float: left;
  width: 40%;
}
.avatar2{
  float: left;
  width: 40%;
}
.avatar3{
  float: left;
  width: 40%;
}
#img1{
  width: 50%;
  flex-direction: row;
  margin-left: 1em;
  margin-top: 1em;
}
#img2{
  width: 50%;
  margin-top: 5em;
  margin-right: 2em;
  margin-left: 1em;
  flex-direction: row;
}
#img3{
width: 50%;
  margin-top: 9em;
  margin-right: 2em;
  margin-left: 1em;
  flex-direction: row;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #1CE783;
  color: white;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  /* opacity: 0.8; */
  /* position: fixed; */
  /* bottom: 23px; */
  right: 28px;
  width: 70px;
  height: 40px;
  margin-left: 5em;
  margin-top: 2em;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  /* position: fixed; */
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;

  height: 200px;
  margin-top: 10em;
}

/* Add styles to the form container */
.form-container {
  max-width: 150px;
  height: 150px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 150px;
  margin-top: -4em; 
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #1CE783;
  color: white;
height: 30%;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}